@model EmployeeManager.Bsl.Model.LoginViewModel
@using EmployeeManager.Bsl.Utils
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div id="logreg-forms">
    <form class="form-signin" method="post" asp-action="Login">
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>
        <div class="social-login">
            <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Sign in with Facebook</span> </button>
            <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Sign in with Google+</span> </button>
        </div>
        <p style="text-align:center"> OR  </p>
        <div class="red-msg">@Html.ValidationSummary(false)</div>
        <input type="email" asp-for="Email" id="inputEmail" class="form-control" placeholder="Email address" autofocus="">
        <span class="red-msg" asp-validation-for="Email"></span>

        <input type="password" asp-for="Password" id="inputPassword" class="form-control" placeholder="Password">
        <span class="red-msg" asp-validation-for="Password"></span>

        <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Sign in</button>
        <a href="#" id="forgot_pswd">Forgot password?</a>
        <hr>
        <!-- <p>Don't have an account!</p>  -->


        <button class="btn btn-primary btn-block" type="button" id="btn-signup"><i class="fas fa-user-plus"></i> Sign up New Account</button>
    </form>
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>